.Pp {
    font-family: 'Roboto Mono', monospace;
    position: absolute;
    font-size: 24px;
    margin: 0;
    color: rgb(240, 240, 240);
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    z-index: 50;
    font-weight: 700;
    line-height: 1.2;
    left: 50%;
    top: 50%;
    white-space: nowrap;

    opacity: 0;
    transform: translate(calc(-50% + 250px), calc(-50% + 5px));
    transition: 0.5s;

    &>span {
        font-family: 'Roboto Mono', monospace;
        color: rgba(235, 235, 235, 0.7);
        font-size: 0.75em;
    }

    :global {
        .odometer {
            transform: translateY(-2px);
        }
    }
}

.PpDigit * {
    font-family: 'Roboto Mono', monospace;

    & &>span {
        // font-size: 46px !important;
        // transform: scale(0.5) !important;
    }
}

.Pp {
    transform: translate(-50%, calc(-50% + 2px));
}

.PpVisible {
    opacity: 1;
}