.Container {
    transition: opacity 0.25s;
    position: absolute;
    padding: 12px;
    bottom: 0;
    left: 0;
    width: 60%;
}

.Chart {
    background-color: rgba(0, 0, 0, 0.45);
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.45);
    border-radius: 4px;
    transition: 0.5s;
    transform: translateX(250px);
    opacity: 0;
}

.ContainerVisible .Chart {
    transform: translateX(0px);
    opacity: 1;
}

.Line {
    transition: opacity 0.5s;
    opacity: 0.85 !important;
}

.LineHidden {
    opacity: 0 !important;
}

.Pp {
    font-family: 'Roboto Mono', monospace;
    position: absolute;
    font-size: 24px;
    margin: 0;
    color: rgb(240, 240, 240);
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    z-index: 50;
    font-weight: 700;
    line-height: 1.2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;

    opacity: 0;
    transform: translate(calc(-50% + 250px), -50%);
    transition: 0.5s;

    &>span {
        font-family: 'Roboto Mono', monospace;
        color: rgba(235, 235, 235, 0.7);
        font-size: 0.75em;
    }

    :global {
        .odometer {
            transform: translateY(-2px);
        }
    }
}

.PpDigit * {
    font-family: 'Roboto Mono', monospace;

    & &>span {
        // font-size: 46px !important;
        // transform: scale(0.5) !important;
    }
}

.ContainerVisible .Pp {
    transform: translate(-50%, -50%);
}

.ContainerVisible .PpVisible {
    opacity: 1;
}