.Container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 16px 12px;
    transform: translateY(150%);
    transition: 0.5s;
}

.ContainerVisible {
    transform: translateY(0%);
}

.Line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &>p {
        color: rgb(240, 240, 240);
    }
}

.Progress {
    --progress: 0%;
    width: 100%;
    height: 5px;
    background-color: rgb(255 255 255 / 0.5);
    position: relative;
    border-radius: 4px;
    overflow: hidden;

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: var(--progress);
        background-color: white;
    }
}